/*body{*/
/*  background-color: #000000;*/
/*  margin: 0px;*/
/*  padding: 0;*/
/*    overflow: hidden;*/
/*}*/
#dist {
    position: absolute;
    left: 50%;
    top: 50px;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.label {
    position: relative;
    font-family: 'Voltaire', sans-serif;
    text-transform: uppercase;
    color: #ffa873;
    font-size: 12px;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 5px;
}
#distValue {
    position: relative;
    text-transform: uppercase;
    color: #dc5f45;
    font-size: 40px;
    font-family: 'Voltaire';
    text-align: center;
}
